<div class="burger container">
  <br><br><br>
  <div class="title">
    <h1 class="display-4">Eat the Burgers!</h1>
  </div>
  <div class="row">
    <div class="col-md-6" id="not-eaten">
      <h2>Burgers Ordered!</h2>
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <p>
          {{name}}
          <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#unless devoured}}Eat! {{/unless}}
          </button>
        </p>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Burgers Eaten!</h2>
      <ul>
        {{#each burger}}
        {{#if devoured}}
        <p>
          {{name}}
          <button class="delete" data-id="{{id}}">
            {{#if devoured}}Delete {{/if}}
          </button>
        </p>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="add-burger">
    <h2>Add a Burger</h2>
    <div class="form-group">
      <label id="add" for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name">
      <button class="add" type="submit">Add Burger</button>
    </div>
  </div>
</div>